.ui-table-columntoggle-btn {
    display: none !important;
}

.btn {
    background-color: #8EC112;
    border: 1px solid #8EC112;
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    color: #fff !important;
    font-size: 14px!important;
    padding: 3px 4px 3px 4px;
    text-decoration: none!important;
    font-weight: normal!important;
    text-shadow:none!important;
    margin-left: 4px;
}

.loginPanel{
        margin-top:30%;
}

.btn:hover {
   color: #6b8cae;

}

.editbar{
    margin-bottom: 7px!important;
}

.right{
    text-align: right!important;
    padding-right: 4px;

}

[data-role="header"][data-position="fixed"]{
    background-color: #0D284B;
    color:#fff;
    text-shadow: none;

}
.grade-table{

        font-size: 14px!important;
}

.ui-popup-container, .ui-popup {
    height: auto;
    width: 100%;
    background-color: #fff;
}

#courseworkRatioEdit .ui-slider-track {
    height: 6px;
}
#courseworkRatioEdit .ui-slider-handle {
    height: 6px;
    top: 0%;
}

#courseworkRatioEdit .ui-slider-handle {

    width: 20px!important;
    height:28px!important;
}


#courseworkRatioEdit .ui-slider-input{
    height: 12px!important;
}

.no-padding{
    margin-top: 2px!important;
    margin-bottom: 2px!important;
    padding: 0!important;

}

.bottom-padding{
    margin-top: 4px!important;
    margin-bottom: 7px!important;
    padding: 0!important;

    border: none!important;
}

[data-role="spinbox"] {
    min-width: 120px !important;
    /*background-color: #38c!important;*/
    /*color: white!important;*/
}

.ui-controlgroup-controls {
    margin-top: 3px!important;
}

.listview{


}
.left{
    text-align: left;
}

.center{
    text-align: center;
}
.course-number{

    border: 1px solid #680000;
    color: #680000;
    padding: 3px 4px 3px 4px;
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    font-size: 12px!important;
}
.ui-popup-container{
    background-color: transparent;
}
.fullscreen-popup{
    width: 90%;
    margin: auto;
}
.ui-navbar li:last-child .ui-btn{
    margin-right: 0;
}
div#studentSearch {
    width: 100%;
    margin: 20px 0;
}
div#studentSearch form.ui-filterable {
    width: 90%;
    margin: auto;
}
/*.ui-popup-screen.ui-overlay-b.in{*/
    /*height:100% !important;*/
/*}*/
.student-list-popup {
    max-height: 88vh;
    overflow: scroll;
}
#home{
    overflow-y: hidden;
}

#bars-button{

    background-color: transparent!important;
    border: none!important;
    padding: 2px;
    font-size: 25px;
    margin-top: -3px;
    color: #bdbdbd;
    text-shadow: none!important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

}
div#courseworkDescriptionEdit {
    width: 100%;
    margin: 20px 0;
}

.ui-panel-inner {
    padding:0px;
}
.ui-controlgroup {
    margin:0;
    margin-top: -4px;
}
.course-details{

    font-weight: bold;
    font-size: 18px;
    text-align: center;


}

.ui-table th, .ui-table td{
    padding: 2px 3px 2px 3px;
}

.ui-li-has-thumb > a{
    padding:0;
}






.ui-block-a, .ui-block-b, .ui-block-c, .ui-block-d, .ui-block-e{

    padding:3px!important;
}

