@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500);

.ui-input-search:after {
  background-image: none !important;
}

.ui-input-search {
  background-repeat: no-repeat;
  background-position: 96% 50%;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%2214px%22%20height%3D%2214px%22%20viewBox%3D%220%200%2014%2014%22%20style%3D%22enable-background%3Anew%200%200%2014%2014%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20d%3D%22M10.171%2C8.766c0.617-0.888%2C0.979-1.964%2C0.979-3.126c0-3.037-2.463-5.5-5.5-5.5s-5.5%2C2.463-5.5%2C5.5s2.463%2C5.5%2C5.5%2C5.5%20c1.152%2C0%2C2.223-0.355%2C3.104-0.962l3.684%2C3.683l1.414-1.414L10.171%2C8.766z%20M5.649%2C9.14c-1.933%2C0-3.5-1.567-3.5-3.5%20c0-1.933%2C1.567-3.5%2C3.5-3.5c1.933%2C0%2C3.5%2C1.567%2C3.5%2C3.5C9.149%2C7.572%2C7.582%2C9.14%2C5.649%2C9.14z%22%2F%3E%3C%2Fsvg%3E");
}

.mobile-pop-up {
  width: 100%;
  box-shadow: 0px 4px 14px #5D5D5D;
}

div#courseworkPointsEdit-popup, div#courseworkRatioEdit-popup {
  @extend .mobile-pop-up;
  top: 27px !important;
}

div#courseworkGradeEdit-popup {
  @extend .mobile-pop-up;
}

.ui-input-text:after, .ui-input-search:after {
  left: 0;
}

.ui-controlgroup-controls a.ui-shadow:not(:focus) {
  margin-left: 10px;
  text-align: left;
  font-size: 14px;
}

.ui-controlgroup-vertical .ui-controlgroup-controls .ui-btn.ui-last-child {
  border-bottom-width: 1px;
  position: absolute;
  width: 276px;
  bottom: 13px;
}

div#navpanel {
  h3.ui-title {
    text-align: center;
  }
}

.ui-slider-track.ui-mini {
  height: 1px;
}

.ui-field-contain .ui-controlgroup {
  text-align: center;
}

.ui-input-text.ui-body-inherit.ui-corner-all.ui-mini.ui-shadow-inset.ui-btn {
  input {
    width: 50vw !important;
  }

}

.ui-navbar li:last-child .ui-btn {
  font-size: 17px;
}

.ui-listview > li {
  border-bottom: 1px solid #b7b7b7;
}

a.ui-btn.ui-btn-icon-right.ui-icon-carat-r {
  font-weight: 400;
  span.course-number {
    font-weight: 600;
    margin-right: 9px;
    position: relative;
    &:after {
      content: ":";
      position: absolute;
      right: -6px;
    }
  }
}

.ui-slider-track .ui-btn.ui-slider-handle {
  width: 13px;
  height: 13px;
  margin-top: -6px;
}

.course-details {
  padding: 18px 0;
  border-bottom: 2px solid #8bc34a;
  background-color: white;
  padding-top: 10px;
  i {
    margin-right: 6px;
  }
  #courseNumber {
    font-weight: 700;
    font-size: 19px;
  }
  #courseTitle {
    font-size: 19px;
  }
}

.settings-heading {
  display: inline-block;
  border-bottom: 2px solid #d35400;
  padding-bottom: 8px;
  color: #2c3e50;
}

.settings-heading-desc {
  @extend .settings-heading;
  margin-bottom: 0;
}

.ui-panel-inner {
  top: 0;
  padding: 0;
  .nd2-sidepanel-profile {
    height: 150px;
    .profile-thumbnail {
      width: 93%;
      height: 87px;
      margin-left: 8px;
    }
    .profile-text .subline {
      font-size: 14px;
    }
    .profile-background {
      height: 100%;
    }
    .row {
      margin-top: 14%;
      font-size: 24px;
    }
  }
}

.loginPanel {
  position: absolute;
  top: 40%;
  left: 16%;
  width: 68%;
  .input {
    position: relative;
    .ui-input-text {
      background-color: transparent;
      border: 0;
      background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0, 0, 0, 0.2));
      padding-left: 46px;
      border-radius: 20px;
      input {
        text-shadow: none;
        font-size: 17px;
        font-weight: 100;
        padding: 14px;
        color: #f9f9f9;
        &::-webkit-input-placeholder{
          color: #c3c3c3;
        }
        &:focus::-webkit-input-placeholder { color:transparent; }
        &:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
        &:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
        &:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */
      }
      &:after{
        background-color: transparent;
      }
    }
    .fa {
      position: absolute;
      left: 0;
      color: white;
      font-size: 26px;
      width: 45px;
      padding-top: 9px;
      text-align: center;
      height: 39px;
      background-color: rgba(0, 0, 0, 0.54);
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      padding-left: 6px;
    }
  }
  a.ui-btn.waves-effect.waves-button{
    background-color: #F65C74 !important;
    margin-top: 50px;
    color: white;
    border-radius: 25px;
  }
}

.login-page {
  height: calc(100vh);
  -webkit-filter: blur(1px);
  filter: blur(1px);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#606c88+0,3f4c6b+100;Grey+3D+%232 */
  background: #606c88; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  #606c88 0%, #3f4c6b 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover,  #606c88 0%,#3f4c6b 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center,  #606c88 0%,#3f4c6b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.login{
  padding: 0;
}
.login-header{
  position: absolute;
  top: 6%;
  left: 21%;
  width: 60%;
  h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 50px;
    color: white;
    text-align: center;
  }

  .fa{
    background: white;
    border-radius: 50%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9dd53a+0,a1d54f+50,80c217+51,7cbc0a+100;Green+Gloss+%231 */
    background: #9dd53a; /* Old browsers */
    background: -moz-linear-gradient(top,  #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */
    font-size: 58px;
    padding: 5px;
  }
}

thead{
  background: aliceblue;
  background: #9dd53a;
  background: -moz-linear-gradient(top, #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%);
  background: -webkit-linear-gradient(top, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%);
  background: linear-gradient(to bottom, #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 );
  color: white;
}

#studentList{

    li.student-details{
      a.ui-btn{
        padding-left: 111px;
        padding-top: 0;
        padding-bottom: 18px;

        img{
          border-radius: 2px;
        }

        h2{
          margin-top: 0;
        }
      }
    }

}

